#result-Ohm {
  margin: 1rem auto;
  padding: 0.5rem auto;
}

#result-Ohm span {
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid color(rgb(46, 128, 229));
  padding: 1rem;
  border-radius: 4px;
  color: color(rgb(46, 128, 229));
  width: fit-content;
}