#result{
  margin: 1rem auto;
  padding: 0.5rem auto;

}
#result span {
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid var(--color-accent);
  padding: 1rem;
  border-radius: 4px;
  color: var(--color-accent);
  width: fit-content;
}